/* en cabezado */
header{
    font-family: arial,helvetica;
    background: #092327;
}
.menu{
    list-style-image: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 8000px;
    margin:auto;
}
.menu li a{
    text-decoration: none;
    color:darkseagreen;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align:center;
}
.menu li a:hover{
    background: #ef8354;
}

.menu img{
    width: 250px;
}



/* ESTILO A SLIDER DE IMAGENES */
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 25s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.slider{
    border-image: fill 0 linear-gradient(#0003,#000);
}

            /* ESTILO A BOTON FLOTANTE WHATSSAP */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/* CODIGO CATALOGO */
*{
margin: 0;
padding: 0;
font-family: 'Open sans';
}


/* CODIGO OMITIDO IMAGEN ENCABEZADO*/

/* header{
    
background: url(IMG/img7.jpg);  
background-size: cover;
background-position: center;
height: 150px;
}    */


header h1{
    text-align: center;
    font-size: 50px;
    color:whitesmoke;
    padding: 5px 0;
}

header h2{
    text-align: center;
    font-size: 35px;
    color:ghostwhite;
    padding: 5px 0;
}


.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;    
    contain: paint;
}


/*CONTENEDOR DE CATALOGO*/
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item{
    max-width: 200px;
    padding: 10px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    
}
.contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor-items .item .img-item{
    width:100%;
}

.contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border:none;
    background: black;
    color:antiquewhite;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}



/*seccion carrito*/
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !impotant;
    top: 0;
    transition: .3s;
    opacity: 0;
    margin-right: -100%;
}
/*COLORES DE ENCABEZADO DE CARRITO DE COMPRAS*/
.carrito .header-carrito{
    background-color: #000000;
    color: whitesmoke;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}
.carrito-total{
    background-color: #A9A9A9;
    padding: 20px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: azure;
    border border-radius: 4px;
    font-size: 15px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale:1.05;
}

/*SECCION RESPONSIVE*/
@media screen and (max-width:850px){
    .contenedor{
        display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
}

/*descargar catalogo*/
.carrito .download-btn{
display: block;
    width: 100%;
    border: none;
    background: #000;
    color: azure;
    border border-radius: 4px;
    font-size: 25px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito .download-btn:hover{
     scale:1.05;
}

.slider{
    border-image: fill 0 linear-gradient(#0003,#000);
}


/* pie */
.pie{
    list-style-image: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 9000px;
    margin:auto;
}
.pie center div p{
    text-decoration: none;
    color: white;
    padding: 6px;
    display: block;
}

.pie p{
    display: inline-block;
    text-align:center;
}